[Unit]
Description=Sample Daemon

[Service]
ExecStart=/usr/bin/python /home/pi/procon29/FelicaReader/idm_reader.py
Restart=always
Type=simple
User=pi
WorkingDirectory=/home/pi/procon29/FelicaReader

[Install]
WantedBy=multi-user.target
