body {
  /* background-image:url("img/WelICing_template_UpRight_normal2.png"); */
  /* background-image:url("./img/WelICing_template_UpRight_normal8.png"); */
  background-image:url("./img/WelICing_template_UpRight_normal16.png");

  background-size: cover;

  /* background-image:url("img/WelICing_template_only_UpRight.png");
  background-position: right top;
background-repeat: no-repeat;
background-attachment: fixed; */
}
.content-wrapper{
  margin-top: 2.2%;
  overflow: hidden;

}
.identity{
  width:100%;
  height: auto;
  display: flex;


  /* background-image: url("img/WelICing_onlyBar.png"); */

  /* position: relative; */
  /* text-align: center; */
}
.col{
  width:calc(100%/3);
  text-align: center;
  position: relative;
  /* background-image: url("img/WelICing_onlyBar.png"); */

}
.icon img{
  width: 80%;
  height: auto;
  margin-top: 2%;
}
#UserID{
  /* display: inline-block; */
  font-size:70px;
  font-family: "Arial";
  font-weight:bold;
  color: #655f5f;
  background: white;
  width: 60%;
  height: 80%;
  /* border-bottom: dotted 3px #655f5f; */
  /* background: linear-gradient(transparent 85%,yellow 85%); */
}
.BorderLine{
  width: 100%;
  margin-top: 1.8%;
  border-bottom: 6px solid;
  border-image: linear-gradient(to right,yellow 85%,yellow 85%);
  /* border-image: linear-gradient(to right,#223668 15%,#2e5694 25%,#8fabda 35%,#c0d6ed 25%); */
  border-image-slice: 1;

  /* border-image: linear-gradient(to right,yellow 85%,yellow 85%);223668 */
    /* color: yellow;
  text-decoration : underline; */

  /* 下線が青画像だと微妙すぎる */
  /* width: 100%;
  height: auto;
  background-image: url("img/WelICing_onlyBar.png");
background-position: left top;
background-repeat: repeat-x;
background-attachment: fixed; */

}
.inner{
  position: absolute;
  /* top: 70%; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
/* timer_circle */
.circle{
  display: inline-block;
  width: 120px;
  height: 120px;
  text-align:center;
  vertical-align: middle;
  /* border-radius: 30%; */
  /* border: solid 3px rgba(252,230,16,0.7); */
  /* background: yellow; */
  /* border: solid 3px white; */
  /* background: white; */
}

/* Graphを覆うmain */
.main{
  margin-top: 2%;
  margin-left: -1%;
  display: flex;
}
/* 三等分にしないため、いらないかも */
.content{
  /* width : calc(100% / 3) ; */
  /* display: flex;
  flex-direction: row; */
  /* display: inline-block; */
  /* margin-top:-1%; */
}
.li{
  display: inline-block;
}

.graph{
  /* display: inline-block; */
  /* float: left; */
  font-family: "Arial";
  font-weight:bold;
  color: #655f5f;
  text-align: center;
}
.title{
  /* font-size: 10px; */
  font-size: 52px;
  margin-bottom: 0%;
}
.graph-doughnut{
  /* width: 25%; */
  width: 28%;
  height: auto;
  /* margin-top:3%;  */
  /* margin-right: 10%; */
  /* display: inline-block; */
  position: relative;
  margin-left: 1%;

}
#myDoughnut-distance_weekly_sum_thisWeek{
  text-align: center;
  /* position: absolute; */
  /* left:90%; */
  /* top:0%; */
  font-size: 80px;
  font-family: "Arial";
  font-weight:bold;
  line-height: 0.8;
  /* border-bottom: solid 3px #87CEFA; */
  margin-bottom: 3%;
}
.myDoughnut-distance_weekly_sum_unit{
  position: absolute;
  left:72%;
  top:19%;
  /* left:130%;
  top:10%; */
  font-size: 30px;
  font-family: "Arial";
  font-style: "bold";
}
.myDoughnut-achievement-text{

  position: absolute;
  left:31.5%;
  top:60%;
  margin: 0 auto;

}
#myDoughnut-cheer-text{
font-size: 36px;
line-height: 0.8;
}
#myDoughnut-distance_rate-text{
  margin-left: -20%;
font-size: 58px;
}
/* 棒グラフ */
.graph-bar{
  /* width: 45%; */
  width: 48%;
  height: auto;
  margin-left: -1.2%;
  /* display: inline-block; */
}
.content_third{
  width: 30%;
  position: absolute;
  left: 70%;
}
/* カロリー */
.calorie-content{
  /* width: 20px; */
  width: 24%;
  height: auto;
  position: relative;
}
.calorie-title{
  margin-left: -15.5%;
}
.calorie-today_example {
  position: absolute;
  left: 10%;
  margin-top: 4%;
  margin-left: -19%;
}
.calorie-today_example ul {
  /* list-style: none; */
  font-family: "Arial";
  font-weight:bold;
  color: #655f5f;
  text-align: left;
  font-size: 28px;
}
.calorie-text{
  margin-left: -8%;
  /* text-align: center; */

}
.calorie_example{
  margin-bottom: 5%;
  margin-left:
}

/* .graph-bar-title-lastWeek{
  width: 140%;
  height: auto;
  position: absolute;
  top: 12%;
  font-size: 30px;
} */
